<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mission to Mars - Web Scraping</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
   
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">      
      <h1>Mission to Mars</h1>
      <a href="#" class="btn btn-primary btn-sm active" href="/scrape" role="button" aria-pressed="true">Scrape New Data</a>
    </div>    

    <h1>Latest Mars News</h1>
    <h3>{{ mars_data.news_title }}</h3>
    <p>{{ mars_data.news_p }}</p>
    <section>
      <div class="row">
          <div class="col">
            <h1>Featured Mars Image</h1>
            <p style="padding-bottom: 10px"><img src="{{mars_data.featured_image_url}}" alt="Featured Image" width="550" height="440"></p>
          </div>
          <div class="col">

            <div class="content-box" style="box-sizing: width: 100%; border: solid #e6e6e6 1px; padding: 20px">
              <h3>Current Weather on Mars</h3>
              <p>{{ mars_data.mars_weather }}</p></span>
            </div>
            <div class="facts">
              <p></p>
              <h4>Mars Facts</h4>
              <table class="table table-bordered table-sm">
                 {% for key, value in mars_data.mars_facts.iteritems() %}
                   <tr>
                      <th> {{ key }} </th>
                      <td> {{ value }} </td>
                    </tr>
                {% endfor %}
              </table>
            </div>
          </div>
      </div>
  
    </section>

  
  <!-- <section>
     <div class="row"> -->
       <br>
        <h2>Mars Hemisphere</h2>

        <div class="row">
            <div class="col-6" style="box-sizing: width: 100%; border: solid #e6e6e6 1px;padding: 20px;align-items: center">
                <img src="{{ mars_data.mars_hemisphere[0]['img_url'] }}" alt="{{ mars_data.mars_hemisphere[0]['title'] }}" width="400" height="400">
                <h5>{{ mars_data.mars_hemisphere[0]['title'] }}</h5>
            </div>
            <div class="col-6" style="box-sizing: width: 100%; border: solid #e6e6e6 1px; padding: 20px;align-items: center">
                <img src="{{ mars_data.mars_hemisphere[1]['img_url'] }}"" alt="{{ mars_data.mars_hemisphere[1]['title'] }}" width="400" height="400">
                <h5>{{ mars_data.mars_hemisphere[1]['title'] }}</h5>
            </div>
        </div>
       
        <div class="row">
            <div class="col-6" style="box-sizing: width: 100%; border: solid #e6e6e6 1px;padding: 20px;align-items: center">
                <img src="{{ mars_data.mars_hemisphere[2]['img_url'] }}"" alt="{{ mars_data.mars_hemisphere[2]['title'] }}" width="400" height="400">
                <h5>{{ mars_data.mars_hemisphere[2]['title'] }}</h5>
            </div>
            <div class="col-6" style="box-sizing: width: 100%; border: solid #e6e6e6 1px;padding: 20px;align-items: center">
                <img src="{{ mars_data.mars_hemisphere[3]['img_url'] }}"" alt="{{ mars_data.mars_hemisphere[3]['title'] }}" width="400" height="400">
                <h5>{{ mars_data.mars_hemisphere[3]['title'] }}</h5>
            </div>
        </div>
<!-- </div>
    </section> -->

</body>

</html>